<nav id="nav" class="navbar nav navbar-expand-lg navbar-light " style="
			    height: 82px;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home_candidat') }}"
           style="font-size: 3rem;color: #DB7300;">Job-Ads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link  btn btn-outline-info mr-2 rounded-0" aria-current="page" href="{{path('app_annonce_search')}}">Offres
                        d'emplois</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conseils</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_espace_recruteur") }}"
                       style="border-bottom: solid #DB7300 1px">Espace Récruteur</a>
                </li>
                {{ include('fragments/_profil.html.twig',{role:"ROLE_CANDIDAT"}) }}
            </ul>
        </div>
    </div>
</nav>