<nav id="nav" class="navbar nav navbar-expand-lg navbar-light bg-light " style="
						    height: 82px;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home_candidat') }}"
           style="font-size: 3rem;color: #DB7300;">Job-Ads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="margin-right: -10px" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-outline-success mr-5 rounded-0" href="{{ path('app_create_annonce') }}">Publier
                        une
                        annonce</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link h5 mr-2 dropdown-toggle" style="color: blue" data-toggle="dropdown" href="#">Services</a>
                    <div class="dropdown-menu " >
                        <a class="dropdown-item " href="{{ path('app_cvtheque') }}">Parcourir les profils</a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link h5" href="#" style="color: blue">Contact</a>
                </li>
                {{ include('fragments/_profil.html.twig',{role:"ROLE_RECRUTEUR"}) }}

            </ul>
        </div>
    </div>
</nav>
