.block{
    padding: 10px 0;
    border-bottom: 1px solid #d4d9dd;
    background-color: #fff;
}
.block a {
    display: flex;
    color : #700598;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    font-size: xx-large;
}
.login-header {
    margin-top: 50px;
    margin-bottom: 20px;
}
.login-header h1{
    font-size: 24px;
    line-height: 32px;
}
form label{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 4px;
}
.passwordForgot{
    color : #700598;
}
.signUp{
    border-color: #700598; color: #700598;
}
.signUp:hover{
    background-color: #700598;
}